<table width="600" style="font-family:Gotham,Arial,Helvetica Neue,sans-serif;font-size:16px;line-height:1.4;color:#3F4854;margin:0 auto;">
  <tr>
    <td style="background-color:#002D59;padding:12px 24px;color:white;">
      <strong>British Powerlifting</strong>
    </td>
  </tr>
  <tr>
    <td style="padding:24px;background-color:#FFFFFF;">
      <p>A request was received to reset the password for {{ user.email }}.</p>
      <p><a href="{{ link }}">Click here to set a new password</a></p>
      <p>If you did not request this, you can ignore this email.</p>
    </td>
  </tr>
</table>
