{% extends 'base.html' %}
{% from '_macros.html' import breadcrumbs %}
{% block content %}
{{ breadcrumbs([('Ballot', url_for('voting.ballot_home')), ('Invalid Token', None)]) }}
{% if setting('site_logo') %}
<img src="{{ url_for('static', filename=setting('site_logo')) }}" alt="{{ setting('site_title', 'VoteBuddy') }}" class="h-12 mx-auto mb-4">
{% endif %}
<div class="bp-alert-error text-center mb-4">
  {{ message }}
</div>
<a href="{{ url_for('main.index') }}" class="bp-btn-secondary">Return home</a>
{% endblock %}
