{% extends 'base.html' %}
{% from '_macros.html' import breadcrumbs %}
{% block content %}
{{ breadcrumbs([('Ballot', url_for('voting.ballot_home')), ('Token Not Open', None)]) }}
{% if setting('site_logo') %}
<img src="{{ url_for('static', filename=setting('site_logo')) }}" alt="{{ setting('site_title', 'VoteBuddy') }}" class="h-12 mx-auto mb-4">
{% endif %}
<div class="bp-card text-center space-y-4">
  <h1 class="text-3xl font-bold text-bp-blue">Voting not yet open</h1>
  <p class="text-bp-grey-700">
    Voting for this stage will be open from {{ start|format_dt }} until {{ end|format_dt }}.
  </p>
  <a href="{{ url_for('main.index') }}" class="bp-btn-secondary">Return home</a>
</div>
{% endblock %}
